#content
  #text
    %h3&= "Total sections: #{Section.count}"
    %br
    - @sections.each do |section|      
      %a{ :href => "/sections/#{section.id}" }&= section.name.capitalize + " (#{Package.count(:section_id => section.id)})"
      %br