%ul#sections{ :title => "Sections", :selected => "true"}
  - @sections.each do |section|
    %li
      %a{ :href => "/sections/#{section.id}" }&= section.name.capitalize + " (#{Package.count(:section_id => section.id)})"