!!!
%html{html_attrs('ru-ru')}
  %head
    %title Ruby IPKG
    %meta{ :"http-equiv" => "content-type", :content => "text/html;charset=UTF-8" }
    %meta{ :name => "viewport", :content => "width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" }
    %style{ :type => "text/css", :media => "screen"} @import "/iui/iuix.css";
    %script{ :type => "application/x-javascript", :src => "/iui/iuix.js"}

  %body
    .toolbar
      %h1{ :id => "pageTitle"}
      %a{ :id => "backButton", :class => "button", :href => "#"}
      %a{ :class => "button", :href => "#searchForm"} Search
    %ul{ :id => "home", :title => "RubyIPKG", :selected => "true"}
      %li
        %a{ :href => "/sections" } Sections
      %li
        %a{ :href => "/packages" } Packages
      %li
        %a{ :href => "/updated" } Updated Packages
      %li
        %a{ :href => "/installed" } Installed Packages
      %li
        %a{ :href => "http://code.google.com/p/iui/", :target => "_self"} About
      %li Nothing
    %form{ :id => "searchForm", :class => "dialog", :action => "search", :method => "POST" }
      %fieldset
        %h1 Package Search
        %a{ :class => "button leftButton", :type => "cancel"} Cancel
        %a{ :class => "button blueButton", :type => "submit"} Search
            
        %label Package:
        %input{ :id => "package_name", :type => "text", :name => "package_name", :style => "padding: 6px 6px 6px 64px;"}