!!!
%html{html_attrs('ru-ru')}
  %head
    %title Ruby IPKG
    %meta{ :"http-equiv" => "content-type", :content => "text/html;charset=UTF-8" }
    %meta{ :name => "viewport", :content => "width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" }
    %link{ :rel => "apple-touch-icon", :href => "/iui/iui-logo-touch-icon.png" }
    %link{ :rel => "stylesheet", :href => "/iui/iui.css", :type => "text/css" }
    %link{ :rel => "stylesheet", :title => "Default", :href => "/iui/t/default/default-theme.css", :type => "text/css" }
    %link{ :rel => "stylesheet", :href => "/iui/iui-moz.css", :type => "text/css" }
    %script{ :type => "application/x-javascript", :src => "/iui/iui.js"}

  %body
    .toolbar
      %h1#pageTitle
      %a.button#backButton{ :href => "#" }
      %a.button{ :href => "#searchForm"} Search
    %ul#home{ :title => "RubyIPKG", :selected => "true"}
      %li
        %a{ :href => "/sections" } Sections
      %li
        %a{ :href => "/packages" } Packages
      %li
        %a{ :href => "/updated" } Updated Packages
      %li
        %a{ :href => "/installed" } Installed Packages

    %form.dialog#searchForm{ :action => "search", :method => "POST" }
      %fieldset
        %h1 Package Search
        %a.button.leftButton{ :type => "cancel" } Cancel
        %a.button.blueButton{ :type => "submit" } Search

        %label Package:
        %input#package_name{ :type => "text", :name => "package_name", :style => "padding: 6px 6px 6px 64px;"}