#content
  #text     
    Welcome to RIPKG!
    %br
    %br
    %a{ :href => "list/packages" } List all packages
    %br
    %a{ :href => "list/sections" } List all sections
    %br
    %br
    %br
    %a {:href => "/about"}  About