!!!
%html{html_attrs('ru-ru')}
  %head
    %title  RubyIPKG
    %meta{ :"http-equiv" => "content-type", :content => "text/html;charset=UTF-8" }
    %link{ :rel => 'stylesheet', :href => '/style.css', :type => 'text/css'}
    %meta{ :name => "viewport", :content => "width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" }
    %style{ :type => "text/css", :media => "screen"} @import "/iui/iui.css";
    %script{ :type => "application/x-javascript", :src => "/iui/iui.js"}

  %body
    .toolbar
      %h1{ :id => "pageTitle"}
      %a{ :id => "backButton", :class => "button", :href => "#"}    
    = yield
