#content
  #text
    %a{ :href=> "/list/sections" } Back to setions list
    %p
    %br
    %br
    - @packages.each do |pkg|
      %a{ :href => "/#{pkg.id}" }&= pkg.name + (pkg.installed_version ? " << installed ver #{pkg.installed_version} >>" : "")
      %br